.container {
    width: 40rem;
    height: 12.938rem;

    background: var(--white-card);
    border-radius: 6px;

    /* position: absolute;
    left: 10rem;
    top: 35.75rem; */
}

.child {
    display: flex;
    flex-direction: column;
}

.paymentTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 0.5rem;

    justify-content: center;
    margin-top: 2.5rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.paymentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
}

.paymentText p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-subtitle);
}

.paymentText span {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-text)
}

.paymentMethods {
    display: flex;

    flex-direction: row;
    justify-content: center;

    padding: 0px;
    gap: 0.75rem;

    margin-top: 2rem;
}

.creditCard {
    width: 11.167rem;
    height: 3.188rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    background: var(--gray-button);
    border-radius: 6px;
    cursor: pointer;
    gap: 0.75rem;
}

.creditCard span {
    color: var(--gray-text);
    font-size: 0.75rem;
}

.debitCard {
    width: 11.167rem;
    height: 3.188rem;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    background: var(--gray-button);
    border-radius: 6px;
    cursor: pointer;
    gap: 0.75rem;
}

.debitCard span {
    color: var(--gray-text);
    font-size: 0.75rem;
}