.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem;
    gap: 1.5rem;

    width: 28rem;

    position: absolute;
    left: 52rem;
    top: 11.375rem;
    background: var(--white-card);
    border-radius: 6px 44px;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    gap: 0.275rem;
    width: 23rem;
    height: 5.75rem;
}

.rowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;

    width: 23rem;
    height: 1.313rem;
}