.checkout {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 100rem;
    height: auto;
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout h2 {
    font-family: 'Baloo 2';
    color: var(--gray-subtitle);
}

.checkout h3 {
    font-family: 'Baloo 2';
    font-size: 1.5rem;
    color: var(--gray-subtitle);
}