.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;

    position: absolute;
    height: 6.5rem;
    left: 0px;
    right: 0px;
    top: 0px;

    background: var(--white-background);
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.actions-local {
    display: flex;
    align-items: center;

    height: 2.375rem;
    background: var(--purple-light);
    color: var(--purple-dark);

    border-radius: 6px;
    gap: 0.25rem;
    padding: 0.5rem;

    cursor: no-drop;
}

.actions-cart {
    width: 2.375rem;
    height: 2.375rem;
    background: var(--yellow-light);
    padding: 0.5rem;

    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}